body {
	background-image: url("pictures/background.jpg");
}

.tilted {
	transform: rotate(-15deg);
}


.offRight {
	position: relative;
	right: -500px

}

.offLeft {
	position: relative;
	left: -50px

}

.grow {
	animation: grow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
	color: red;
	text-shadow: 0 0 3px black;
	size: 120%;
}

.rainbow {
	animation: rainbowText 1s infinite;
	text-shadow: 0 0 8px black;

}

.wiggle {
  display: inline-block;
  animation: wiggle .5s infinite alternate;
}

.pan {
	animation: panimation 2s infinite alternate;
}


#header {
	background-color: powderblue;
	color: red;
	text-shadow: 0 0 3px blueviolet;

	margin: auto;
	width: 90%;
}

#content {
	background-color: powderblue;
	color: purple;

	font-family:  "Comic Sans MS", "Comic Sans";

	margin: auto;
	width: 80%;
}



@keyframes grow {
	0% {
		font-size: 80%;
	}
	80%,
	100% {
		font-size: 120%;
		text-shadow: 0 0 6px black;
	}
}

@keyframes rainbowText {
	0% {
		color: magenta;
	}
	20% {
		color: darkviolet;
	}
	40% {
		color: limegreen;
	}
	60% {
		color: yellow;
	}
	80% {
		color: orangered;
	}
	100% {
		color: red;
	}
}

@keyframes wiggle {
    0% { transform: rotate(-5deg); }
   33% { transform: rotate(0deg); }
   66% { transform: rotate(5deg); }
  100% { transform: rotate(10deg); font-size: 120%;}
}

@keyframes panimation {
    0% { transform: translateX(-20px);}
   50% { transform: translateX(0px);}
   100% { transform: translateX(20px);}
}
